on init
    chown system system /sys/class/android_usb/android0/f_mass_storage/lun/file
    chmod 0660 /sys/class/android_usb/android0/f_mass_storage/lun/file
    mkdir /dev/usb-ffs 0770 shell shell
    mkdir /dev/usb-ffs/adb 0770 shell shell
    mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=2000
    #write /sys/class/android_usb/android0/f_ffs/aliases "adb"

on boot	
    write /sys/class/android_usb/android0/f_mass_storage/inquiry_string "Samsung"
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
	write /sys/class/android_usb/android0/iManufacturer "SAMSUNG"
    write /sys/class/android_usb/android0/iProduct "SM-M105F"
	
# Used to disable USB when switching states
on property:sys.usb.config=none && property:sys.usb.configfs=1
    stop adbd
	setprop sys.usb.ffs.ready 0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/bDeviceClass 0
	write /sys/class/android_usb/android0/bDeviceSubClass 0
    write /sys/class/android_usb/android0/bDeviceProtocol 0
    #rm /config/usb_gadget/g1/configs/b.1/f1
    #rm /config/usb_gadget/g1/configs/b.1/f2
    #rm /config/usb_gadget/g1/configs/b.1/f3
    setprop sys.usb.state ${sys.usb.config}
	
on property:init.svc.adbd=stopped
    setprop sys.usb.ffs.ready 0
	
on property:sys.usb.config=adb && property:sys.usb.configfs=1
   start adbd
   
on property:sys.usb.config=mtp,adb && property:sys.usb.configfs=1
   start adbd   
 
# adb only USB configuration
# This is the fallback configuration if the
# USB manager fails to set a standard configuration 
on property:sys.usb.ffs.ready=1 && property:sys.usb.config=adb && property:sys.usb.configfs=1
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04e8
    write /sys/class/android_usb/android0/idProduct 685d
	write /sys/kernel/config/usb_gadget/g1/UDC ${sys.usb.controller}
	write /sys/class/android_usb/android0/functions ${sys.usb.config}
	write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp && property:sys.usb.configfs=1
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04e8
    write /sys/class/android_usb/android0/idProduct 6860
	write /sys/kernel/config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}
	
on property:sys.usb.ffs.ready=1 && property:sys.usb.config=mtp,adb && property:sys.usb.configfs=1	
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04e8
    write /sys/class/android_usb/android0/idProduct 6860
	write /sys/kernel/config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}
	
on property:sys.usb.config=mass_storage,adb
    start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04e8
    write /sys/class/android_usb/android0/idProduct 685e
	write /sys/kernel/config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}
	
